[backend]
backend_server ansible_host={{ BACKEND_IP }} ansible_user=ec2-user

[backend:vars]
db_host={{ RDS_HOST }}
db_name=devops_db
db_username=dbadmin

[frontend]
frontend_server ansible_host={{ FRONTEND_IP }} ansible_user=ec2-user

[all:vars]
# No hardcoded PEM paths! Jenkins SSH Agent handles this automagically.
ansible_python_interpreter=/usr/bin/python3
