# AWS Configuration
region     = "ap-southeast-1"
access_key = "YOUR_AWS_PROD_ACCESS_KEY"
secret_key = "YOUR_AWS_PROD_SECRET_KEY"

# Environment
env = "prod"

# Networking
vpc_cidr = "172.16.0.0/16"

# Compute (Production Instances)
instance_type = "t4g.small"

# Database (Production RDS)
db_engine         = "postgres"
db_port           = 5432
allocated_storage = 50
db_instance_class = "db.t3.medium"
db_name           = "production_inventory_db"
db_user           = "prod_db_admin"

# SENSITIVE
db_password       = "REPLACE_WITH_ACTUAL_SECURE_PASSWORD"
